#root {
  margin: 0 auto;
  text-align: center;
}
/* Result */
.result-container,
.loading-message,
.error-message {
  padding: 0.5rem;
  display: flex;
  align-items: center;

  justify-content: space-between;
  margin-block-start: 2rem;
  background-color: rgb(0 0 0 / 30%);
  border-radius: 8px;
  padding-inline: 0.5rem;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.loading-message {
  color: white;
}

.error-message {
  color: red;
}
/* Animation BG */
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #4e54c8;
  overflow: hidden;
  z-index: -1;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 19s linear infinite;
}

.background li:nth-child(0) {
  left: 64%;
  width: 186px;
  height: 186px;
  bottom: -186px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 0%;
  width: 198px;
  height: 198px;
  bottom: -198px;
  animation-delay: 5s;
}
.background li:nth-child(2) {
  left: 32%;
  width: 163px;
  height: 163px;
  bottom: -163px;
  animation-delay: 6s;
}
.background li:nth-child(3) {
  left: 23%;
  width: 144px;
  height: 144px;
  bottom: -144px;
  animation-delay: 7s;
}
.background li:nth-child(4) {
  left: 8%;
  width: 152px;
  height: 152px;
  bottom: -152px;
  animation-delay: 1s;
}
.background li:nth-child(5) {
  left: 23%;
  width: 162px;
  height: 162px;
  bottom: -162px;
  animation-delay: 10s;
}
.background li:nth-child(6) {
  left: 68%;
  width: 126px;
  height: 126px;
  bottom: -126px;
  animation-delay: 14s;
}
.background li:nth-child(7) {
  left: 4%;
  width: 159px;
  height: 159px;
  bottom: -159px;
  animation-delay: 19s;
}
.background li:nth-child(8) {
  left: 8%;
  width: 169px;
  height: 169px;
  bottom: -169px;
  animation-delay: 23s;
}
.background li:nth-child(9) {
  left: 31%;
  width: 190px;
  height: 190px;
  bottom: -190px;
  animation-delay: 15s;
}
