.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 120px;
  height: 120px;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.mid {
  border-radius: 5px;
  background: rgb(52 46 46 / 40%);
  width: 30px;
  height: 120px;
  position: absolute;
  right: -16px;
  cursor: pointer;
  z-index: 2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  animation: adding 0.3s ease infinite alternate paused;
  -webkit-animation: adding 0.3s ease infinite alternate paused;
}
.mid:hover {
  animation-play-state: running;
}
@keyframes adding {
  from {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
  }
  to {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}
